/* Generics */

:root {
    --background: #fcf8f7;
    --foreground: #f58d2c;
    --primary: #cf5b0e;
    --primary-light: #fcf8f7;
    --primary-foreground: #FFF;
    --secundary: #fcf8f7;
    --secundary-forefround: #f3aa66;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button {
    display: inline-block;
    border: 0.2rem solid var(--foreground);
    color: var(--foreground);
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    transition: all ease .2s;
}

.button:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}

/* Fim Generics */

/* Header */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--background);
    z-index: 1000;
    font-size: 1rem;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
}

.menu-opener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.menu-opener span {
    height: 3px;
    background-color: #00567A;
    border-radius: 2px;
}

.nav-links,
.actions {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--background);
}

.nav-links.active,
.actions.active {
    display: flex;
}

.nav-links {
    list-style: none;
    gap: 10px;
}

.nav-links a,
.login,
.btn-agendar {
    text-decoration: none;
    color: var(--foreground);
    font-weight: bold;
}

.btn-agendar {
    background-color: var(--foreground);
    color: var(--background);
    padding: 10px 20px;
    border-radius: 5px;
}

.login:hover,
.nav-links a:hover {
    color: var(--primary);
}
 
.login {
    margin-top: 20px;
}
   

/* Fim Header */

/* Home */

#home {
    position: relative;
    padding-top: 100px;   /* espaço para o header fixo */
}

.info-section {
    padding: 60px 40px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}
  
.info-content {
    display: flex;
    max-width: 1200px;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}
  
.info-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
.info-texto {
    flex: 1;
    min-width: 300px;
    margin: 0px 40px;
}
  
.info-texto h2 {
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
}
  
.info-texto p {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: justify;
}
  
.info-texto a {
    color: #0077cc;
    text-decoration: none;
}
  
.info-texto a:hover {
    text-decoration: underline;
}

/* Fim Home */

/* Sobre mim */

#sobre {
    position: relative;
    padding-top: 100px;
    scroll-margin-top: 100px;
    background-color: var(--background);
    padding-bottom: 60px;
}
  
.sobre-profissional {
    padding: 0 5vw;
}
  
.info-basica {
    text-align: center;
    margin-bottom: 30px;
}
  
.info-basica h2 {
    font-size: 2rem;
    margin-bottom: 8px;
}
  
.info-basica p {
    font-style: italic;
    font-size: 1.6rem;
}
  
.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
  
.descricao {
    background: var(--secundary-forefround);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--foreground);
    font-size: 1rem;
    line-height: 1.6;
    max-width: 600px;
}
  
.foto-profissional {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--secundary-forefround);
    object-fit: cover;
}

/* Fim Sobre mim */

/* Atendimento */

#atendimento {
    position: relative;
    padding-top: 100px;   /* espaço para o header fixo */
}

.atendimento {
    background-color: var(--background);
    padding: 60px 20px;
    display: flex;
    justify-content: center;
  }
  
.atendimento-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
  
.atendimento-card {
    width: 100%;
    max-width: 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    height: 300px;
}
  
.atendimento-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    border-radius: 12px;
}

.atendimento-card:hover img {
    transform: scale(1.15);
    
}
  
.atendimento-card h2 {
    font-size: 2rem;
    margin-bottom: 8px;
}
  
.atendimento-card p {
    font-size: 1.6rem;
    color: black;
    text-align: justify;
}

.btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.4s ease;
    background-color: var(--foreground);
    color: var(--background);
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.atendimento-card:hover .btn-overlay {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Fim Atendimento */

/* Cursos */

#cursos {
    position: relative;
    padding-top: 100px;
}

.cursos {
    padding: 8rem 2rem;
    text-align: center;
    color: var(--primary);
    background-color: var(--background);
}

.cursos .title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.cursos .subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
}

.cursos .slider {
    max-width: 50rem;
    overflow-x: hidden;
    margin: auto;
}

.cursos .slider input {
    display: none;
}

.cursos .slider-area {
    width: 200%;
    display: flex;
    transition: all ease .5s;
}

.cursos .slider-item {
    width: 100%;
}

.cursos .slider-item img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 4rem;
}

.cursos .slider-item .description {
    font-size: 2rem;
    line-height: 3.3rem;
    margin-bottom: 4rem;
}

.cursos .slider-item .name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.cursos .slider-item .role {
    font-size: 1.7rem;
}

.cursos .slider-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.cursos .slider-nav label {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.2rem solid var(--primary);
    transition: all ease .5s;
}

#slider-1:checked ~ .slider-area {
    margin-left: 0%;
}
#slider-2:checked ~ .slider-area{
    margin-left: -100%;
}

#slider-1:checked ~ .slider-nav .n1 {
    background-color: var(--primary);
}

#slider-2:checked ~ .slider-nav .n2 {
    background-color: var(--primary);
}

/* Fim Depoimentos */

/* collab */

.collab {
    background-color: var(--foreground);
    color: var(--primary-foreground);
    padding: 3rem 2rem;
    text-align: center;
}

.collab .title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.collab .subtitle {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

.collab .button {
    border-color: var(--background);
    color: var(--background);
    font-size: 2rem;
    text-decoration: none;
}

.collab .button:hover {
    background-color: var(--background);
    color: var(--foreground);
}

/* Fim collab */

/* Footer */

footer {
    background-color: var(--foreground);
    color: var(--primary-light);
    padding: 1rem 2rem;
    text-align: center;
}

footer .logo {
    width: 4rem;
    height: auto;
    margin-bottom: 4rem;
}

footer .title {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 2rem 4rem;
}

footer .social {
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 2rem;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--primary-light);
}

footer .social a img {
    width: 2rem;
    height: 2rem;
}

footer .social a:hover {
    opacity: .8;
}

footer .copyright {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

footer .legal{
    font-size: 1.6rem;
}

/* Fim Footer */

/* ------ Inicio Tabelas ------ */


.TabelaClientes{
    padding-top: 200px;
    border-collapse: collapse;
    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.TabelaClientes th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.TabelaHistorico{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaHistorico th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.TabelaRegistro{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaRegistro th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

/* ------ Fim Tabelas ------ */


@media (min-width: 600px){
    
    /* Header */

    .menu-opener {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        padding: 15px 50px;
        font-size: 1.4rem;
    }

    .nav-links {
        display: flex !important;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        width: auto;
        background: none;
    }

    .actions {
        display: flex !important;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        width: auto;
        background: none;
    }

    .nav-links a.active::after {
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
        background-color: var(--primary);
    }

    .login {
        margin-top: 0px;
    }

    /* Fim Header*/

    /* Home */

    #home {
        position: relative;
        padding-top: 100px;   /* espaço para o header fixo */
    }

    /* Fim Home */

    /* Sobre mim */

    .container-sobre {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    
    .descricao {
        flex: 1;
        font-size: 1.4rem;
        max-width: 600px;
    }
    
    .foto-profissional {
        flex: 1;
        max-width: 350px;
    }

    /* Fim sobre mim */

    /* Atendimento */

    #atendimento {
        position: relative;
        padding-top: 100px;   /* espaço para o header fixo */
    }

    .atendimento-container {
        flex-direction: row;
        align-items: stretch;
    }
    
    .atendimento-card {
        flex: 1 1 45%;
    }

    /* Fim Atendimento */

    /* Collab */

    .collab .title {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .collab .subtitle {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    /* FIm Collab */
}