body {
    background: linear-gradient(to bottom, #fcf8f7, #fdf9f7);
    /*background: linear-gradient(to bottom, #fc5d36, #f0631d);*/
    background-size: cover;
}

.TabelaClientes{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaClientes th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.TabelaHistorico{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaHistorico th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.TabelaRegistro{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaRegistro th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.container {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.logologado{
    text-align: center;
}

.img-centered {
    width: 200px;
    height: 200px;
}

.menuLogin{
    text-align: end;
    padding-right: 20px;
    font-size: 20px;
}

.container-logo{
    display: flex;
}

.container-logo .container{
    display: flex;
    flex: 0 1 auto;
}

.containerMenuBarDeslogado{
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #cccaca;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.containerMenuBarDeslogado img{
    width: 100px;
    height: 100px;
}

.menuBarDeslogado{
    display: flex;
    justify-content: center;
    flex: 1;
}

.menuBarDeslogado ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.menuBarDeslogado li{
    flex: 1;
    text-align: center;
}

.menuBarDeslogado a{
    text-decoration: none;
    font-size: 30px;
}


.containerMenuBarLogado{
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.menuBarLogado ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.menuBarLogado li{
    flex: 1;
    text-align: center;
}

.menuBarLogado a{
    text-decoration: none;
    font-size: 30px;
}


