/* Generics */

:root {
    --background: #fcf8f7;
    --foreground: #f58d2c;
    --primary: #cf5b0e;
    --primary-light: #fcf8f7;
    --primary-foreground: #FFF;
    --secundary: #fcf8f7;
    --secundary-forefround: #cf5b0e;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button {
    display: inline-block;
    border: 0.2rem solid var(--foreground);
    color: var(--foreground);
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    transition: all ease .2s;
}

.button:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}

/* Fim Generics */

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    flex: 1;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 10.2rem;
    height: 10.2rem;
}

.menu-opener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
}

.menu-opener span {
    display: block;
    width: 2rem;
    height: 0.1rem;
    background-color: black;
}

header nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

header nav a{
    font-size: 1.4rem;
    text-decoration: none;
}

header nav.opened{
    display:flex;
}

/* Fim Header */

/** Header */

.containerhome {
    background-image: url("Foto-capa.png");
}

.containerhome .grid {
    margin: 0 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 3px 5px var(--primary-light);
}

/* Fim Header */

/* Footer */

footer {
    background-color: var(--foreground);
    color: var(--primary-light);
    padding: 6rem 2rem;
    text-align: center;
}

footer .logo {
    width: 4rem;
    height: auto;
    margin-bottom: 4rem;
}

footer .title {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 4rem;
}

footer .social {
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 4rem;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--primary-light);
}

footer .social a img {
    width: 2rem;
    height: 2rem;
}

footer .social a:hover {
    opacity: .8;
}

footer .copyright {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

footer .legal{
    font-size: 1.5rem;
}

/* Fim Footer */

/* ------ Inicio Tabelas ------ */


.TabelaClientes{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaClientes th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.TabelaHistorico{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaHistorico th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

.TabelaRegistro{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.TabelaRegistro th, td{
    border: 1px solid #000;
    padding: 4px;
    background-color: #f2f2f2;
}

/* ------ Fim Tabelas ------ */


@media (width > 600px){
    
    /* Header*/
    header {
        flex-direction: row;
    }

    .menu-opener{
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
    }

    .container-menuBarDeslogado{
        border: 0.2rem solid var(--foreground);
        border-radius: 1.5rem;
        margin-bottom: 4rem;
        height: 6rem;
    }
    
    .menuBarDeslogado {
        display: flex;
        justify-content: space-between;
        max-width: 60rem;
        margin: auto;
        margin-bottom: 4rem;
        font-size: 4rem;
    }

    .menuBarDeslogado a {
        font-size: 4rem;
        text-decoration: none;
        color: var(--primary);
    }
    /* Fim Header*/
}
