/* Generics */

:root {
    --background: #fcf8f7;
    --foreground: #f58d2c;
    --primary: #cf5b0e;
    --primary-light: #fcf8f7;
    --primary-foreground: #FFF;
    --secundary: #fcf8f7;
    --secundary-forefround: #f3aa66;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button {
    display: inline-block;
    border: 0.2rem solid var(--foreground);
    color: var(--foreground);
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    transition: all ease .2s;
}

.button:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}

/* Fim Generics */

/* Header */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--background);
    z-index: 1000;
    font-size: 1rem;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
}

.menu-opener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.menu-opener span {
    height: 3px;
    background-color: var(--primary);
    border-radius: 2px;
}

.nav-links,
.actions {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--background);
}

.nav-links.active,
.actions.active {
    display: flex;
}

.nav-links {
    list-style: none;
    gap: 10px;
}

.nav-links a,
.login,
.btn-agendar {
    text-decoration: none;
    color: var(--foreground);
    font-weight: bold;
}

.btn-agendar {
    background-color: var(--foreground);
    color: var(--background);
    padding: 10px 20px;
    border-radius: 5px;
}

.login:hover,
.nav-links a:hover {
    color: var(--primary);
}
 
.login {
    margin-top: 20px;
}
   

/* Fim Header */

/* collab */

.collab {
    background-color: var(--foreground);
    color: var(--primary-foreground);
    padding: 3rem 2rem;
    text-align: center;
}

.collab .title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.collab .subtitle {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

.collab .button {
    border-color: var(--background);
    color: var(--background);
    font-size: 2rem;
    text-decoration: none;
}

.collab .button:hover {
    background-color: var(--background);
    color: var(--foreground);
}

/* Fim collab */

/* Footer */

footer {
    background-color: var(--foreground);
    color: var(--primary-light);
    padding: 1rem 2rem;
    text-align: center;
}

footer .logo {
    width: 4rem;
    height: auto;
    margin-bottom: 4rem;
}

footer .title {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 2rem 4rem;
}

footer .social {
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 2rem;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--primary-light);
}

footer .social a img {
    width: 2rem;
    height: 2rem;
}

footer .social a:hover {
    opacity: .8;
}

footer .copyright {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

footer .legal{
    font-size: 1.6rem;
}

/* Fim Footer */


/* ------ Inicio Tabelas ------ */

.table-container{
    border-collapse: collapse;
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    background-color: var(--background);
    font-size: 1.6rem;
}

.table-container thead, th, tr{
    border: 1px solid #000;
    padding: 5px 30px;
}


/* ------ Fim Tabelas ------ */


@media (min-width: 600px){
    
    /* Header */

    .menu-opener {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        padding: 15px 50px;
        font-size: 1.4rem;
    }

    .nav-links {
        display: flex !important;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        width: auto;
        background: none;
    }

    .actions {
        display: flex !important;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        width: auto;
        background: none;
    }

    .nav-links a.active::after {
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
        background-color: var(--primary);
    }

    .login {
        margin-top: 0px;
    }

    /* Fim Header*/

}